# Archivos de compilación
/build/
*.o
*.d
*.elf
*.hex
*.bin

# Archivos de configuración de VS Code
.vscode/
CMakeLists.txt.user
cmake-build-*/

# Archivos temporales y de sistema
*.swp
*.log
*.tmp
.DS_Store
Thumbs.db

# Otros
*.launch
*.settings/
